 @{

     ViewBag.Title = "RCS";
     Layout = null;
     string char_no = "", IPD_NO = "", url = "", token = "";
     bool isOk = true;
     if (string.IsNullOrWhiteSpace((string)TempData["IPD_NO"]) ||  string.IsNullOrWhiteSpace((string)TempData["CHART_NO"]) || string.IsNullOrWhiteSpace((string)TempData["token"]))
     {
         isOk = false;
     }
     else
     {
         char_no = (string)TempData["CHART_NO"];
         IPD_NO = (string)TempData["IPD_NO"];
         token = (string)TempData["token"];
         url = Url.Content(string.Concat(Com.Mayaminer.IniFile.GetConfig("System", "WebURL") + "#/External/", char_no, "/",IPD_NO,"/", token));
     }
     TempData["CHART_NO"] = null;
     TempData["IPD_NO"] = null;
     TempData["token"] = null;
}
<!DOCTYPE html>
<html>
@if (isOk)
{
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
        <script> 
        setTimeout(function () { window.location.href = '@url'; }, 1000);
        </script>
    </head>
    <body>
        <div>
            驗證登入成功，畫面轉跳中....
            @*驗證登入成功，系統尚未上線....*@
        </div>
    </body>
}
else
{
    <body>
        <div>
            驗證方式錯誤，請洽資訊人員.... [發生時間:@(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))]
        </div>
    </body>
}
</html>




