 

*.suo
/MC/MC/App_Data/log
/MC/MC/WFVueMC/node_modules
/MC/MC/WFVueMC/dist
/MC/.vs
/MC/MC/obj
/MC/MC/bin
/MC/MC/log 
/MC/MC/Web References
/MC/MCTests/.vs
/MC/MCTests/obj
/MC/MCTests/bin
/MC/MCTests/log
/MC/MC.Tests/.vs
/MC/MC.Tests/obj
/MC/MC.Tests/bin
/MC/MC.Tests/log
/MC/packages/Spire.Doc.7.10.0
/MC/packages

/MC_Data/.vs
/MC_Data/bin
/MC_Data/obj 

/WS_Temp/.vs
/WS_Temp/WS_Temp/obj
/WS_Temp/WS_Temp/bin
 
/VueDevelop/node_modules
/VueDevelop/dist
/VueDevelop/static/ckeditor
/MC/node_modules
