*.suo    
/RCSControllers/RCSControllers/Properties/PublishProfiles/BASIC.pubxml  
/RCSControllers/RCSControllers/VueDevelop/node_modules
/RCSControllers/RCSControllers/VueDevelop/dist 
/RCSControllers/RCSControllers/VueDevelop/static/ckeditor
/RCSControllers/RCSControllers/App_Data/log 
/RCSControllers/.vs
/RCSControllers/RCSControllers/obj
/RCSControllers/RCSControllers/bin
/RCSControllers/RCSControllers/log 
/RCSControllers/RCSControllers/Web References
/RCSControllers/RCSControllersTests/.vs
/RCSControllers/RCSControllersTests/obj
/RCSControllers/RCSControllersTests/bin
/RCSControllers/RCSControllersTests/log
/RCSControllers/RCSControllers.Tests/.vs
/RCSControllers/RCSControllers.Tests/obj
/RCSControllers/RCSControllers.Tests/bin
/RCSControllers/RCSControllers.Tests/log
/RCSControllers/packages/Spire.Doc.7.10.0
/RCSControllers/packages

*.suo
/RCS/RCS/App_Data/log  
/RCS/RCS/SHHVueRCS/node_modules
/RCS/RCS/SHHVueRCS/dist 
/RCS/RCS/SHHVueRCS/static/ckeditor
/RCS/.vs
/RCS/RCS/obj
/RCS/RCS/bin
/RCS/RCS/log 
/RCS/RCS/Web References
/RCS/RCSTests/.vs
/RCS/RCSTests/obj
/RCS/RCSTests/bin
/RCS/RCSTests/log
/RCS/packages

*.suo
/RCS_WF/RCS/App_Data/log
/RCS_WF/RCS/WFVueRCS/node_modules
/RCS_WF/RCS/WFVueRCS/dist
/RCS_WF/.vs
/RCS_WF/RCS/obj
/RCS_WF/RCS/bin
/RCS_WF/RCS/log 
/RCS_WF/RCS/Web References
/RCS_WF/RCSTests/.vs
/RCS_WF/RCSTests/obj
/RCS_WF/RCSTests/bin
/RCS_WF/RCSTests/log
/RCS_WF/RCS.Tests/.vs
/RCS_WF/RCS.Tests/obj
/RCS_WF/RCS.Tests/bin
/RCS_WF/RCS.Tests/log
/RCS_WF/packages/Spire.Doc.7.10.0
/RCS_WF/packages

/RCS_Data/.vs
/RCS_Data/bin
/RCS_Data/obj 

/WS_Temp/.vs
/WS_Temp/WS_Temp/obj
/WS_Temp/WS_Temp/bin


/RCS_USER/.vs
/RCS_USER/RCS_USER/obj
/RCS_USER/RCS_USER/bin
/RCS_USER/RCS_USER/log

/RCS_USER/RCS_USER.Tests/.vs
/RCS_USER/RCS_USER.Tests/obj
/RCS_USER/RCS_USER.Tests/bin
/RCS_USER/RCS_USER.Tests/log 

/VueDevelop/node_modules
/VueDevelop/dist
/VueDevelop/static/ckeditor
/RCS/node_modules
