@{
    ViewBag.Title = "upload_index";
}
<script>
    $(document).ready(function () {
        //轉入轉出上傳作業
        $('#tran_vpn_tbl').bootstrapTable($.extend(true, {}, bootstrap_table_option, {
            url: '@Url.Content("~/VPN_UPLOAD/getXMLVPN_UPLOAD")',
            showRefresh: true,
            queryParams: function (para) {
                var ischecked = $("#vpn_upload #isALL").prop('checked');
                return { isAllData: ischecked };
            },
        }));
    });
    //產生上傳XML檔案
    function getVPN_UPLOAD_XML(pBtn) {
        var SelectPt = $('#tran_vpn_tbl').bootstrapTable('getSelections');
        if (SelectPt.length > 0) {
            var select_json = convert_flat_all(SelectPt);
            $('#vpn_upload_xmlForm #vpn_uploadJsonData').val(encodeURIComponent(JSON.stringify(select_json)));
            isPrintSumit = true;
            isPrintDataRefresh = 'tran_vpn_tbl';
            $('#vpn_upload_Modal').modal('show');
        } else {
            showAlert('請勾選欲產生的資料!', msg_stat.Warning);
        }
    }
    //VPN檔案註記
    function setVPN_UPLOAD_flag(pBtn) {
        var SelectPt = $('#tran_vpn_tbl').bootstrapTable('getSelections');
        if (SelectPt.length > 0) {
            var select_json = convert_flat_all(SelectPt);
            $.ajax({
                url: '@Url.Content("~/VPN_UPLOAD/set_vpn_data_frag")',
                type: 'POST',
                async: false,
                beforeSend: function () {
                    pBtn.button('loading');
                },
                data: { chekcedData: encodeURIComponent(JSON.stringify(select_json)), type: '3' },
                success: function (data) {
                    if (data.status == 0) {
                        showAlert(data.message, msg_stat.Success);
                        $('#tran_vpn_tbl').bootstrapTable('refresh');
                    } else {
                        showAlert(data.message, msg_stat.Danger);
                    }
                },
                error: function (jqXHR) {
                    log(jqXHR);
                    msg = '程式發生錯誤!';
                },
                complete: function () {
                    pBtn.button('reset');
                }
            });
        } else {
            showAlert('請勾選忽略的資料!', msg_stat.Warning);
        }
    }
</script>
<div id="vpn_upload">
    <div id="pat_vpn_upload">
        <div class="row">
            <div class="col-xs-12" style="padding: 10px;">
                轉入轉出上傳作業<i style="padding-left:5px;" class="fa fa-comments fa-lg" aria-hidden="true"></i>
                &emsp;<label><input type="checkbox" id="isALL" name="isALL" onclick="$('#tran_vpn_tbl').bootstrapTable('refresh');" />顯示忽略資料</label>
                <div class="pull-right">
                    <button id="vpIgnorBtn" class="btn btn-warning " onclick="setVPN_UPLOAD_flag($(this));" title="忽略資料"><i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;忽略</button>
                    <button id="vpnSaveBtn" class="btn btn-success " onclick="getVPN_UPLOAD_XML($(this));" title="產生檔案"><i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;產生上傳檔案</button>
                </div>
            </div>
        </div>
        <div id="pt_history_info_list" class="col-xs-12 col_full_width" style="margin-top: 10px;height: 700px;overflow-y:auto;">
            <table style="background-color: #FFF;" data-cache="false" data-row-style="accept_rowStyle" data-classes="table table-hover" data-flat="true" data-search="true" id="tran_vpn_tbl">
                <thead style="background-color: #5BA198; color: #FFF;">
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="CHART_NO">病歷號</th>
                        <th data-field="PATIENT_NAME" data-formatter="genderFormatter">姓名</th>
                        <th data-field="TRAN_DATE" data-sortable="true">轉入日期</th>
                        <th data-field="HOSP_NAME" data-sortable="true">轉入醫事機構名稱</th>
                        <th data-field="TRAN_OUT" data-sortable="true">轉出日期</th>
                        <th data-field="TRAN_SITUATION" data-sortable="true">轉出情形</th>
                        <th data-field="OUT_HOSP_NAME" data-sortable="true">轉出醫事機構名稱</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
