@model  RCS.Models.VM_mainBreathReport
@{
    ViewBag.Title = "mainBreathReport";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <form id="exportBreathReport" action="@(Url.Content("~/WorkVolume/exportBreathReport"))" method="post" target="TheNewWindow">
            <h3>呼吸器使用人數(月報表)</h3>
            <span class="form-group">
                <label class="control-label" for="form-group-select">查詢年&emsp;</label>
                <select v-model="year" class="form-control" name="year" style="width:180px;display:inline-block;">
                    <option v-for="i in yearList"  :value="i.Value">${i.Text}</option>
                </select>
            </span>
            &emsp;
            <span class="form-group">
                <label class="control-label" for="form-group-select">查詢月&emsp;</label>
                <select v-model="month" class="form-control" name="month" style="width:180px;display:inline-block;">
                    <option v-for="i in monthList"  :value="i.Value" >${i.Text}</option>
                </select>
            </span>
            &emsp; &emsp;&emsp;
            <button class="btn btn-default btn-lg" v-on:click="exportExcel">產生報表</button>
        </form>
    </div>
    <div class="panel-body">
         
    </div>
</div>
 
 <script>
      new Vue({
         el: '#mainBreathReport',
         delimiters: ['${', '}'],
         data: JSON.parse('@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)))'),
         methods: {
             exportExcel: function () {
                 document.getElementById('exportBreathReport').submit();
                 return false;
             }
         }
     });
 </script>
