@helper CPT_SoundSelect()
{
    <label><input type="checkbox" class="checkbox-inline" name="ck_sound" value="Clear" />Clear</label><br />
    <label><input type="checkbox" class="checkbox-inline" name="ck_sound" value="Stridor" />Stridor</label><br />
    <label><input type="checkbox" class="checkbox-inline" name="ck_sound" id="ck_sound_crackles" value="Crackles" />Crackles</label>
    @:(    
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_crackles" value="1" />1</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_crackles" value="2" />2</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_crackles" value="3" />3</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_crackles" value="4" />4</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_crackles" value="5" />5</label>
    @:)<br />
    <label><input type="checkbox" class="checkbox-inline" name="ck_sound" id="ck_sound_rhonchi" value="Rhonchi" />Rhonchi</label>
    @:( 
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_rhonchi" value="1" />1</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_rhonchi" value="2" />2</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_rhonchi" value="3" />3</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_rhonchi" value="4" />4</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_rhonchi" value="5" />5</label>
    @:)<br />
    <label><input type="checkbox" class="checkbox-inline" name="ck_sound" id="ck_sound_wheeze" value="Wheeze" />Wheeze</label>
    @:( 
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_wheeze" value="1" />1</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_wheeze" value="2" />2</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_wheeze" value="3" />3</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_wheeze" value="4" />4</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_wheeze" value="5" />5</label>
    @:)<br />
    <label><input type="checkbox" class="checkbox-inline" name="ck_sound" id="ck_sound_bronchial" value="Bronchial sound" />Bronchial sound</label>
    @:( 
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_bronchial" value="1" />1</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_bronchial" value="2" />2</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_bronchial" value="3" />3</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_bronchial" value="4" />4</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_bronchial" value="5" />5</label>
    @:)<br />
    <label><input type="checkbox" class="checkbox-inline" name="ck_sound" id="ck_sound_decreased" value="Decreased" />Decreased</label>
   @:( 
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_decreased" value="1" />1</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_decreased" value="2" />2</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_decreased" value="3" />3</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_decreased" value="4" />4</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_decreased" value="5" />5</label>
    @:)<br />
    <label><input type="checkbox" class="checkbox-inline" name="ck_sound" id="ck_sound_absent" value="Absent" />Absent</label>
    @:( 
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_absent" value="1" />1</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_absent" value="2" />2</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_absent" value="3" />3</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_absent" value="4" />4</label>
        <label><input type="checkbox" class="checkbox-inline" name="ck_sound_absent" value="5" />5</label>
    @:)<br />
}