<script type="text/javascript">
    var onmode_history_table = null;
    $(document).ready(function () {
        onmode_history_table = $("#onmode_history_table").bootstrapTable({
            url: "@Url.Content("~/RTRecord/OnModeHistoryList")", method: "post", cache: false,
            pagination: true, pageSize: 6, pageList: [5, 10, 25, 50, 100],
            toolbar: "#oht_toolbar",
            search: true, trimOnSearch: true,
            rowStyle: function (row, index) {
                var style_sp = { classes: '' };
                switch (row.ON_TYPE) {
                    case "1":
                        style_sp.classes = "warning";
                        break;
                    case "2":
                        style_sp.classes = "success";
                        break;
                    case "3":
                        style_sp.classes = "info";
                        break;
                }
                return style_sp;
            }
        });

        // 快速篩選
        $("#oht_toolbar > label > input").unbind("change").change(function () {
            var filter_condition = [];
            $("#oht_toolbar > label > input:checked").each(function () {
                filter_condition.push($(this).val());
            });
            onmode_history_table.bootstrapTable("filterBy", { ON_TYPE: filter_condition });
        });
        
    });

    // 結果顯示方式
    function conent_formatter(value, row, index) {
        try {
            //console.log(value);
            var show_text = "";
            show_text += "<div class='row'>";
            for (var i in value) {
                if (i == 'remove') continue;
                var data = value[i];
                show_text += "<div class='col-md-6' id= '" + data .id + "block'>" + data.title + " : " + data.txt + "</div>";
            }
            show_text += "</div>";
            return show_text;
        } catch (e) {
            //console.log(value + "\n" + e);
        }

    }
</script>

<style type="text/css">
    #oht_toolbar {
        line-height: 18px;
        margin: 8px;
    }

    #oht_toolbar > label, #oht_toolbar > input {
        margin-top: 0px;
        text-align: left;
        vertical-align: bottom;
    }
</style>

<div id="oht_toolbar">
    <label class="checkbox-inline">
        <input type="checkbox" id="on_type1" value="1" checked> 插管
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="on_type2" value="2" checked> 呼吸器
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="on_type3" value="3" checked> 氧療
    </label>
</div>


<table class="table table-bordered table-condensed table-hover rc_table" id="onmode_history_table">
    <thead>
        <tr>
            <th data-field="on_type_desc" data-align="center" data-sortable="true" data-width="70">類型</th>
            <th data-field="usage_days" data-align="center" data-width="70">使用天數</th>
            <th data-field="STARTDATE" data-align="left" data-sortable="true" data-width="100">開始時間</th>
            <th data-field="ENDDATE" data-align="left" data-sortable="true" data-width="100">結束時間</th>
            <th data-field="showCONTENT" data-align="left" data-sortable="true" data-formatter="conent_formatter">記錄</th>
            <th data-field="UPDATEDATE" data-align="left" data-sortable="true" data-width="100">最後修改時間</th>
        </tr>
    </thead>
</table>