<script type="text/javascript">
    var take_table, abg_data_table;
    $(document).ready(function () {
        take_table = $('#take_table').bootstrapTable({
            url: "@(Url.Content("~/RTRecord/TakeOffAssessmentData"))",
            pagination: true,
            method: "post",
            clickToSelect: true,
            pageSize: 12,
            trimOnSearch: true,
            cache: false,
            pageList: [5, 10, 25, 50, 100],
        }); 

        abg_data_table = $('#abg_data_table').bootstrapTable({
            url: "@(Url.Content("~/RTRecord/ABGData"))",
            pagination: true,
            method: "post",
            clickToSelect: true,
            pageSize: 12,
            trimOnSearch: true,
            cache: false,
            pageList: [5, 10, 25, 50, 100],
        });

        $("#tab_content").css({
            "background-color": "#FFFFFF",

        });
    });

    $(function () {
        $('#myTab li:first-child a').tab('show')
    })
</script>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="weaning-tab" data-toggle="tab" href="#weaning" role="tab" aria-controls="weaning" aria-selected="true">脫離指數</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="abgdata-tab" data-toggle="tab" href="#abgdata" role="tab" aria-controls="abgdata" aria-selected="false">ABG Data</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="weaning" role="tabpanel" aria-labelledby="weaning-tab">
        <div class="col-lg-8 col-md-12 col-xs-12">
            <table class="table table-bordered table-striped table-condensed table-hover rc_table" id="take_table">
                <thead>
                    <tr>
                        <th data-field="record_date" data-align="center" data-sortable="true">日期</th>
                        <th data-field="pi" data-align="center" data-sortable="true">PI max</th>
                        <th data-field="pe" data-align="center" data-sortable="true">PE max</th>
                        <th data-field="rsbi" data-align="center" data-sortable="true">RSI</th>
                        <th data-field="cuff_leak_ml" data-align="center" data-sortable="true">Cuff-leak(ml)</th> 
                    </tr>
                </thead>
            </table>
        </div> 
    </div>
    <div class="tab-pane fade" id="abgdata" role="tabpanel" aria-labelledby="abgdata-tab">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <table class="table table-bordered table-striped table-condensed table-hover rc_table" id="abg_data_table">
                <thead>
                    <tr>
                        <th data-field="recorddate" data-align="center" data-sortable="true">紀錄日期</th>
                        <th data-field="abg_time" data-align="center" data-sortable="true">日期</th>
                        <th data-field="abg_ph" data-align="center">pH</th>
                        <th data-field="abg_paco2" data-align="center">PCO2</th>
                        <th data-field="abg_pao2" data-align="center">PO2</th>
                        <th data-field="abg_sao2" data-align="center">SaO2</th>
                        <th data-field="abg_hco3" data-align="center">HCO3</th>
                        <th data-field="abg_be" data-align="center">B.E.</th>
                        <th data-field="abg_paado2" data-align="center">P(A-a)DO2</th>
                        <th data-field="abg_shunt" data-align="center">Shunt</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
