@{
    List<string> CPTData = (List<string>)ViewData["CPTData"];
    string index = (string)ViewData["index"];
    if (index != null && index != "") { index = "_" + index; } else { index = ""; }
}
<script type="text/javascript">
    $(document).ready(function () {
         @if (string.IsNullOrWhiteSpace(index))
         {
             <text>
                 b_value_2 = CKEDITOR.replace('b_value_2', {
                     toolbar: [['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript'],
                     ['FontSize'], ['TextColor', 'BGColor'], ['Table', 'HorizontalRule', 'Smiley', 'SpecialChar'], ['Maximize'], ['Undo', 'Redo']],
                     height: 550,
                     on: {
                         focus: function (evt) {
                             b_value_2.focus();
                             current_control = b_value_2;
                         }
                     }
                 });

             b_value_1 = CKEDITOR.replace('b_value_1', {
                 toolbar: [['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript'],
                             ['FontSize'], ['TextColor', 'BGColor'], ['Table', 'HorizontalRule', 'Smiley', 'SpecialChar'], ['Maximize'], ['Undo', 'Redo']],
                 height: 550,
                 on: {
                     focus: function (evt) {
                         b_value_1.focus();
                         current_control = b_value_1;
                     }
                 }
             });
             </text>
         }
    });
</script>
<div>
    <div class="row panel  shift_view" id="CPTAssess@(index)" style="display: none;width: 100%;height: 100%;overflow: auto -webkit-paged-x;">
        <div class="col-md-12 col-sm-12 col-xs-12 shift_i_style">
            <div class="panel-heading block_title" style="background-color:#FFE8A8; cursor: pointer;" onclick="$('#CPTAssess@(index)').slideToggle('slow');">
                病史及入院經過
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-condensed table-striped" style="background-color: #FFF; margin-bottom: 0;" id="rtuserrecordTable">
                    <tr>
                        <td><label for="diagnosis">診斷</label></td>
                        <td colspan="2">
                            @(Html.Raw(CPTData[4].Replace("\n", "<br />")))
                        </td>
                    </tr>
                    <tr>
                        <td><label for="diagnosis">入院經過</label></td>
                        <td colspan="2">
                            @(Html.Raw(CPTData[0].Replace("\n", "<br />")))
                        </td>
                    </tr>
                    <tr>
                        <td><label for="history_diag">過去病史</label></td>
                        <td colspan="2">
                            @(Html.Raw(CPTData[1].Replace("\n", "<br />")))
                        </td>
                    </tr>
                    <tr>
                        <td><label>備註</label></td>
                        <td colspan="2">
                            @(Html.Raw(CPTData[2].Replace("\n", "<br />")))
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div onclick="$('#CPTAssess@(index)').slideToggle('slow');" title="檢視病患評估" class="block_title" style="background-color:#FFE8A8; cursor: pointer;">Background 背景(過去病史/入院經過)</div>
        <div id="introdation">
            <div class="block_title" style="background-color:#FFE8A8;">
                Introduction介紹(自我介紹與確認交班對象&emsp;
            </div>
            <div class="block_title" id="shift_i_info@(index)"></div>
            <div class="block_title" id="shift_info@(index)"></div>
            <div class="block_title" style="background-color:#E5F9FF;">Situation 病人狀況</div>
            <div class="block_content">
                <table class="table table-hover table-striped table-no-bordered shift_table tableTag@(index)" id="tbl_s@(index)">
                    <thead>
                        <tr><th data-field="name" data-width="40%" data-class="shift_dataview"></th><th data-field="data" data-width="60%" data-class="shift_dataview"></th></tr>
                    </thead>
                </table>
            </div>
        </div>
        <div  id="background_c@(index)">
            <div class="block_title" style="background-color:#ffebe5;">Background 背景(特殊用藥及治療情形)</div>
            <div class="block_content">
                <table class="table table-hover table-striped table-bordered shift_table tableTag@(index)" id="tbl_b@(index)">
                    <thead>
                        <tr>
                            <th data-field="NAM" data-class="shift_dataview">藥品名稱</th>
                            <th data-field="ORD_BGN" data-class="shift_dataview" data-formatter="time_format" data-width="80">執行時間</th>
                            @*<th data-field="ORD_ADDR" data-class="shift_dataview">執行地點</th>*@
                            <th data-field="ITEM_COD" data-class="shift_dataview">收費碼</th>
                            <th data-field="QTY" data-class="shift_dataview">數量</th>
                            <th data-field="USAGE1" data-class="shift_dataview">頻率</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div> 
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12" id="background_a@(index)">
        
        <div class="block_title" style="background-color:#ffebe5;">Kardex</div>
        <div class="block_content">
            <textarea class="form-control setSymbol" id="b_value_2@(index)" name="b_value_2@(index)" placeholder="請輸入病情處置追蹤..."></textarea>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="block_title" style="background-color:#ffebe5;">交班備註</div>
        <div class="block_content">
            <textarea class="form-control setSymbol" id="b_value_1@(index)" name="b_value_1@(index)" style="height:550px;"></textarea>
        </div>
    </div>
</div>
 