@{
    List<PatOperation> ORList = (List<PatOperation>)ViewData["ORList"];
}
<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content rcs_form">
        <div class="modal-header col-*-12">
            <div class="btn-group col-*-6">
                <h4 class="modal-title">手術清單</h4>
            </div>
            <div class="btn-group pull-right">
                @if (ORList != null && ORList.Count > 0)
                {
                    <input type="button" class="btn btn-success" value="確定" onclick="appendORList()" />
                    <input type="button" class="btn btn-warning" value="取消" onclick="$('#div_select_orlist').modal('hide'); $('input[name=ck_or]').attr('checked', false)" />
                }
                else
                {
                    <button class="btn btn-warning" data-dismiss="modal">關閉</button>
                }
            </div>
        </div>
        <div class="modal-body" id="ORList_Result">
            @if (ORList != null && ORList.Count > 0)
            {
                <table class="table table-bordered table-striped table-condensed" style="width:90%;margin:0 10px 0 10px;">
                    <tr>
                        <th>選取</th>
                        <th>手術日期</th>
                        <th>手術方式</th>
                    </tr>
                    @for (int i = 0; i < ORList.Count; i++)
                    {
                        <tr pk="@ORList[i].OP_DATE.ToString()@ORList[i].OP_CODE">
                            <td><input type="checkbox" name="ck_or" id="ck_or_@(i)" pk="@ORList[i].OP_DATE.ToString()@ORList[i].OP_CODE"></td>
                            <td>@ORList[i].OP_DATE.ToString()</td>
                            <td>@ORList[i].DESCRIPTION</td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div style="text-align:center;">
                    無手術資料
                </div>
            }
        </div>
    </div>
</div>