@{
    ViewBag.Title = "chartChange";
}
<style>
    .fieldset-style {
        display: none;
        border-top: 1px solid #975e1c;
    }

    .legend-title {
        background-color: #d18122;
        border-bottom: 1px solid #d18122;
        border-top: 1px solid #975e1c;
        color: #fff;
        box-shadow: 0px 4px 6px 1px rgba(148,117,80,0.8);
        white-space: nowrap;
        padding: 5px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        text-align: center;
        width: 160px;
        position: relative;
        top: 16px;
    }
</style>
<script type="text/javascript">
    function checkChartNo() {
        if ($.trim($('#old_chart').val()) == '') {
            showAlert('原病歷號必須輸入!', msg_stat.Warning);
            $('#old_chart').focus();
            return false;
        }
        if ($.trim($('#new_chart').val()) == '') {
            showAlert('新病歷號必須輸入!', msg_stat.Warning);
            $('#new_chart').focus();
            return false;
        }
        $.ajax({
            url: "@Url.Content("~/SystemManage/CheckChartNo")",
            type: "post", dataType: "json",
            data: { pOldChart: $.trim($('#old_chart').val()), pNewChart: $.trim($('#new_chart').val()) },
            async: false,
            success: function (data) {                
                if (data.status == 0) {
                    if (data.message != '') {
                        $('#origin_chr_no').text($('#old_chart').val());
                        $('#new_chr_no').text(data.message);
                        $('#checklist_input').hide();
                        $('#checklist_update_area').show();
                        $('#checklist_nonaction_area').hide();
                    } else {
                        $('#checklist_input').hide();
                        $('#checklist_update_area').hide();
                        $('#checklist_nonaction_area').show();
                        $('#origin_chr_no2').text($('#old_chart').val());
                        $('#msg_none').show();
                        $('#msg_error').hide();
                    }
                }
                else {
                    showAlert(data.message, msg_stat.Danger);
                }
            }, error: function (jqXHR) {
                console.log(jqXHR);
            }
        });
    }
    function beginUpdateChartNo() {
        $.ajax({
            url: "@Url.Content("~/SystemManage/UpdateChartNo")",
            type: "post", dataType: "json",
            data: { pOldChart: $.trim($('#origin_chr_no').text()), pNewChart: $.trim($('#new_chr_no').text()) },
            async: false,
            success: function (data) {
                if (data.status == 0) {
                    showAlert('病歷號更新成功!', msg_stat.Success);
                    $('#checklist_input').show();
                    $('#checklist_nonaction_area').hide();
                    $('#checklist_update_area').hide();
                }
                else {
                    showAlert('病歷號更新失敗!', msg_stat.Danger);
                    $('#msg_none').hide();
                    $('#msg_error').show();
                    $('#fail_remark').text(data.message);
                    $('#checklist_input').hide();
                    $('#checklist_nonaction_area').show();
                    $('#checklist_update_area').hide();
                }
            }, error: function (jqXHR) {
                console.log(jqXHR);
            }
        });
    }
    function reInputChartNo() {
        $('#checklist_input').show();
        $('#checklist_update_area').hide();
        $('#checklist_nonaction_area').hide();
        $('#old_chart').val('');
        $('#new_chart').val('');
        $('#old_chart').focus();
    }
</script>
<div style="padding: 10px 5vw 0 5vw;">
    <div id="checklist_input">
        <div>
            <label style="display: inline-block;">請輸入原病歷號：</label>
            <input type="text" class="form-control" id="old_chart" name="old_chart" maxlength="10" placeholder="" style="width:180px;display: inline-block;" />
            &nbsp;&nbsp;
            <button type="button" class="btn btn-info" onclick="checkChartNo();" style="display: inline-block;" data-loading-text="檢核中...">
                <span class="glyphicon glyphicon-transfer">
                </span>
                &nbsp;檢核
            </button>
        </div>
        <div style="padding-top:5px;">
            <label style="display: inline-block;">請輸入新病歷號：</label>
            <input type="text" class="form-control" id="new_chart" name="new_chart" maxlength="10" placeholder="" style="width:180px;display: inline-block;" />
        </div>
    </div>
    <div>
        <fieldset id="checklist_update_area" class="flip-scroll fieldset-style">
            <legend class="legend-title">檢核結果</legend>
            <div style="padding-top:10px;">
                <label style="font-size:large;">請再次確認以下無誤</label><br />
                <label style="font-size:large;">原病歷號&nbsp;<span id="origin_chr_no"></span>&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;新病歷號&nbsp;<span id="new_chr_no"></span></label><br />
                <label style="font-size:large;">如果確認無誤，請記得更新該病人呼吸器旁VIP上的病歷號</label><br />
                <label style="font-size:large;color:red;font-weight:bold;">注意！更新後將無法再以原病歷號查詢任何資料！</label><br />
                <div style="text-align:right;">
                    <label style="font-size:large;display: inline-block;">按下右方按鈕開始更新&nbsp;<span class="glyphicon glyphicon-arrow-right"></span>&nbsp;</label>
                    <button type="button" class="btn btn-info" onclick="beginUpdateChartNo();" style="display: inline-block;" data-loading-text="更新中...">
                        <span class="glyphicon glyphicon-play-circle">
                        </span>
                        &nbsp;開始更新
                    </button>
                </div>
            </div>
        </fieldset>
        <fieldset id="checklist_nonaction_area" class="flip-scroll fieldset-style">
            <legend class="legend-title">檢核結果</legend>
            <div style="padding-top:10px;">
                <div id="msg_none">
                    <label style="font-size:large;">經確認該病歷號&nbsp;<span id="origin_chr_no2"></span>&nbsp;不需要更新</label><br />
                    <label style="font-size:large;">請檢查是否輸入正確病歷號</label><br />
                </div>
                <div id="msg_error">
                    <span id="fail_remark" style="font-size:large;"></span>
                </div>
                <div style="text-align:right;">
                    <button type="button" class="btn btn-info" onclick="reInputChartNo();" style="display: inline-block;" data-loading-text="更新中...">
                        <span class="glyphicon glyphicon-repeat">
                        </span>
                        &nbsp;重新輸入
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
</div>
