@{
    Layout = null;
}

<script type="text/javascript">
    var run_first = false;
    $(function () {
        $('#7190_table').bootstrapTable({
            pagination: true,
            pageList: [10, 15, 25, 50, 100],
            pageSize: 15,
            data: '', //預載空的bootstrapTable樣式
            toolbar: '#s7190_func'
        });
        load7190();       
    });
    function load7190() {
        $.ajax({
            url: '@Url.Content("~/SystemManage/getCount7190Data")',
            type: "post",
            data: { pSDate: $('#txt_7190_start_date').val(), pEDate: $('#txt_7190_end_date').val() },
            dataType: "json",
            beforeSend: function (jqXHR, settings) {
                $('#7190_table').bootstrapTable('showLoading');
            },
            success: function (data, textStatus, jqXHR) {
                if (data.RESPONSE_MSG.status == 0) {
                    $('#7190_table').bootstrapTable('refreshOptions', {
                        data: data.listCount7190
                    });
                } else {
                    showAlert(data.RESPONSE_MSG.message, msg_stat.Danger);
                }
            },
            complete: function (jqXHR, textStatus) {
                $('#7190_table').bootstrapTable('hideLoading');
            }
        });
    }
</script>
<div id="s7190_date_time_dom" style="position:relative;"></div>
<div id="s7190_func">
    <input type="text" class="form-control dt-picker" style="width: 140px; height: 27px; display: inline;vertical-align:middle;" dt-format="dt" dt-sidebyside="true" dt-widgetparent="s7190_date_time_dom" id="txt_7190_start_date" name="txt_7190_start_date" value="@DateTime.Now.Date.AddDays(-1).ToString("yyyy-MM-dd HH:mm")" place placeholder="" readonly="" notlock disabled>~
    <input type="text" class="form-control dt-picker" style="width: 140px; height: 27px; display: inline;vertical-align:middle;" dt-format="dt" dt-sidebyside="true" dt-widgetparent="s7190_date_time_dom" id="txt_7190_end_date" name="txt_7190_end_date" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" placeholder="" readonly="" notlock disabled>
    <input type="button" class="btn btn-default" id="btn_7190_search" value="搜尋" onclick="load7190();" notlock />
</div>
<div class="bootstrap-table" style="padding-top:10px;">
    <table style="padding-top:10px;background-color: #FFF;" id="7190_table" data-toggle="table" data-cache="false" data-striped="true" data-flat="true">
        <thead style="background-color: #5BA198; color: #FFF;">
            <tr>
                <th data-field="START_DATE" data-sortable="true">會診日期</th>
                <th data-field="BED_NO" data-sortable="true">床號</th>
                <th data-field="CHART_NO" data-sortable="true">病歷號</th>
                <th data-field="PT_NAME" data-sortable="true">姓名</th>
                <th data-field="DOCTOR_NAME" data-sortable="true">醫師</th>
                <th data-field="DIV_SHORT_NAME" data-sortable="true">科別</th>
                <th data-field="ADMIT_NO" data-sortable="true">住院編號</th>
                <th data-field="CONSULT_REASON" data-sortable="true">會診原因</th>
                <th data-field="CONSULT_RESULT" data-sortable="true">會診結果</th>
            </tr>
        </thead>
    </table>
</div>
