@{
    //Layout = Url.Content("~/Views/Layout/MainLayout.cshtml");
    RCS_Data.UserInfo user_info = (RCS_Data.UserInfo) ViewData["user_info"];
}
<style type="text/css">
    #tab_SystemManage .tab-content {
        height: calc(100vh - 63px);
        overflow-y: scroll;
        padding: 5px;
    }

    #tab_SystemManage .icon-text {
        margin-left: -18px;
        vertical-align: 5px;
        font-size: 16px;
    }

    #tab_SystemManage .tp {
        margin-right: 0px;
        font-size: 20px;
        display: block;
    }

    #tab_SystemManage [data-toggle=table] tbody tr {
        cursor: pointer;
    }
</style>
<div id="main_content" class="sys_main_content">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist"> 
            <li role="presentation"><a href="#Rt_Device" role="tab" data-toggle="tab" url="@Url.Content("~/SystemManage/Index_device")" loaded="N">呼吸器維護</a></li> 
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    權限設定
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation"><a href="#Rt_User" role="tab" data-toggle="tab" url="@Url.Content("~/SystemManage/UserMaintain")" loaded="N">使用者管理</a></li>
                    
                </ul>
            </li> 
            <li role="presentation"><a href="#Rt_Maintain" role="tab" data-toggle="tab" url="@Url.Content("~/SystemManage/ParamSetting")" loaded="N">表單管理</a></li>
     
            <li role="presentation"><a href="#Rt_7190" role="tab" data-toggle="tab" url="@Url.Content("~/SystemManage/Count_7190")" loaded="N">呼吸治療會診</a></li>
    
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane tab_pane_sys_set" id="Rt_Scheduling"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tab_SystemManage a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            var divid = $(e.target).attr('href');
            $('.tab_pane_sys_set').attr('id', divid.replace('#', ''));
            $('.tab_pane_sys_set').empty();
            $.ajax({
                type: 'POST',
                url: $(e.target).attr('url'),
                success: function (data) {
                    $($(e.target).attr('href')).empty().html(data);
                    $(e.target).attr('Loaded', 'Y');
                },
                complete: function () {
                    //datetimepicker
                    maya_datetimepicker($(".dt-picker"));
                },
                error: function (a, b, c) {
                    alert(a + c);
                }
            });
        });
        $('#tab_SystemManage a[data-toggle="tab"]:eq(0)').tab('show');
    });
    function CheckReq(DivID) {
        var success = true;
        $('#' + DivID + ' .req_text:visible').each(function () {
            if (success && $.trim(this.value) == '') {
                $(this).focus();
                showAlert('此項目尚未填寫!', msg_stat.Warning);
                success = false;
                return;
            }
        });
        return success;
    }
</script>