@{
    ViewBag.Title = "RT_shift_rate";
    Layout = null;
}
<script type="text/javascript">
    var shift_rate_table;
    $(document).ready(function () {
        $("#shift_rate #start_date").val(moment().add(-7,'days').format("YYYY-MM-DD 00:00"));
        $("#shift_rate #end_date").val(moment().format("YYYY-MM-DD 23:59"));

        shift_rate_table = $("#shift_rate_table").bootstrapTable({
            url: '@Url.Content("~/SystemManage/RT_shift_rate_data")',
            queryParams: { start_date: $("#shift_rate #start_date").val(), end_date: $("#shift_rate #end_date").val() },
            showFooter: true
        });
    });

    //數值加總
    function sumFormatter(data) {
        field = this.field;
        return "<b>" + data.reduce(function (sum, row) {
            if (row[field] != "N/A") {
                return sum + (+row[field]);
            }
        }, 0) + "</b>";
    }

    ////交班率樣式
    //function rateFormatter(data) {
    //    return data + " %";
    //}

    //交班率加總
    function sumRateFormatter(data) {
        return sumFormatter.call(this, data);
    }

    //交班率計算
    $("#shift_rate_count").on('click', function (e) {
        shift_rate_table.bootstrapTable('refresh', {
            query: {
                start_date: $("#shift_rate #start_date").val(),
                end_date: $("#shift_rate #end_date").val()
            }
        });
    });
</script>
<!-- 交班率 -->
<div id="shift_rate">
    <div id="datetime_limit" class="form-inline" style="position:relative;padding-bottom:10px;">
        日期區間:
        <input type="text" class="form-control dt-picker" style="width: 100px; height: 27px; display: inline;vertical-align:middle;vertical-align:middle;" dt-format="d" id="start_date" name="start_date" value="" placeholder="" readonly="">~
        <input type="text" class="form-control dt-picker" style="width: 100px; height: 27px; display: inline;vertical-align:middle;vertical-align:middle;" dt-format="d" id="end_date" name="end_date" value="" placeholder="" readonly="">
        <input type="button" class="btn btn-default" id="shift_rate_count" value="統計">
    </div>
    <div>
        <table class="table table-bordered table-striped table-hover" id="shift_rate_table">
            <thead style="background-color: #5BA198;color: #FFF;">
                <tr>
                    <th data-field="area_name" data-align="center" data-footer-formatter='總計' data-halign="center">區域</th>
                    <th data-field="must_shift_count" data-align="center" data-footer-formatter="sumFormatter" data-halign="center">應交班數</th>
                    <th data-field="shift_count" data-align="center" data-footer-formatter="sumFormatter" data-halign="center">實際交班數</th>
                    <th data-field="shift_rate" data-align="center" data-footer-formatter="sumRateFormatter" data-halign="center" data-sortable="true">交班率%</th>
                </tr>
            </thead>
        </table>
    </div>
</div>