@{
    ViewBag.Title = "RT_work_count";
}

@{
    Layout = null;
}
<script type="text/javascript">
    $(document).ready(function () {
        // 讀取RT照護記錄統計資料
        var km_table = $("#work_count_table").bootstrapTable({
            url: "@Url.Content("~/SystemManage/Get_work_count_data")",
            pagination: true,
            method: "post",
            clickToSelect: true,
            pageSize: 12,
            trimOnSearch: true,
            cache: false,
            pageList: [5, 10, 25, 50, 100],
            search: true,
            showRefresh: true
        });
    });
</script>

<!-- 交班內容 -->
<div>
    <table class="table table-bordered table-hover" id="work_count_table">
        <thead style="background-color: #5BA198;color: #FFF;">
            <tr>
                <th data-field="analysis_date" data-align="center" data-halign="center" data-sortable="true">統計日期</th>
                <th data-field="updateuser" data-align="center" data-halign="center" data-sortable="true">使用者ID</th>
                <th data-field="work_count" data-align="left" data-halign="center" data-sortable="true">計數</th>
            </tr>
        </thead>
    </table>
</div>
