@{
    // 1.需先預載入，主畫面 [Views\SystemManage\ParamSetting.cshtml] 預載入 [RcsSysParams_DragDrop_DivTagID]
    // 2.$('#RcsSysParams_DragDrop_DivTagID').load('@Url.Content("~/SystemManage/SysParams_DragDrop_EditTable_ActionCtrl")');
    // 3.DragDrop 拖曳編輯頁面 [Views\SystemManage\SysParams_DragDrop_EditTable.cshtml] 
    ViewBag.Title = "SysParams_DragDrop_EditTable";
}

<!-- ParamPSort_DragDropOrder_Panelid 順序拖曳畫面 -->
<div class="modal fade" id="RcsSysParams_DragDrop_PanelID" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="display:inline-block;" id="RcsSysParams_DragDrop_HeaderID"></h4>
                <div class="btn-group pull-right">
                    <button class="btn btn-primary" v-on:click="DragDrop_Save()" title="儲存排序">
                        <span class="glyphicon glyphicon-ok"></span>
                        &nbsp;儲存排序
                    </button>
                    <button class="btn btn-secondary" data-dismiss="modal" title="關閉視窗">
                        <span class="glyphicon glyphicon-remove"></span>
                        &nbsp;關閉
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" style="padding: 1em;">
                    <div class="form-group">
                        @* ----------- Vue.Draggable [下] 2018.10.17 ----------- *@
                        <local-table v-model="paramTable_DataList"></local-table>
                        @* ----------- Vue.Draggable [上] 2018.10.17 ----------- *@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/x-template" id="VueDraggable_TagID">
    <table class="table">
        <thead>
            <tr>
                <th data-width="10%">號</th>
                <th data-width="40%">顯示名稱</th>
                <th data-width="40%">值</th>
                <th data-width="10%">備註</th>
            </tr>
        </thead>
        <draggable v-model="fn_RefreshDragDropList" :element="'tbody'">
            <tr v-for="ii in fn_RefreshDragDropList" v-bind:class="[ii.p_status=='9' ? 'danger' : 'default']">
                <td>{{ii.p_sort}}</td>
                <td>{{ii.p_name}}</td>
                <td>{{ii.p_value}}</td>
                <td>{{ii.p_memo}}</td>
            </tr>
        </draggable>
    </table>
</script>

<script>
    /*--------------- Vue.Draggable [下] 2018.10.17 ---------------*/
    //SortableJS/Vue.Draggable: h-ttps://github.com/SortableJS/Vue.Draggable
    //Example with table: h-ttps://jsfiddle.net/dede89/L54yu3L9/
    var RcsSysParams_DragDrop_Vue = new Vue({
        el: '#RcsSysParams_DragDrop_PanelID'
        , data: {
            paramTable_DataList: new Array()
            , vueParamTable_DataMdlCls: {
                p_id: ''
                , p_model: ''
                , p_group: ''
                , p_name: ''
                , p_value: ''
                , p_lang: ''
                , p_sort: 0
                , p_memo: ''
                , p_status: ''
                , p_status_desc: ''
            }
        }//1.data
        , components: {
            localTable: {
                template: '#VueDraggable_TagID'
                , props: ['value']
                , name: 'local-table'
                , computed: {
                    fn_RefreshDragDropList: {
                        get() {return this.value}
                        , set(value) { this.$emit('input', value) }
                    }//fn_RefreshDragDropList
                }//computed
            }//localTable
        }//2.components
        , methods: {
            openDragDropEditForm: function () {
                $("#RcsSysParams_DragDrop_HeaderID").text($("#param_selector option:selected").text());
                this.paramTable_DataList = $("#param_table").bootstrapTable('getData');
                this.paramTable_DataList = this.sortByKey(this.paramTable_DataList, 'p_sort');
                $("#RcsSysParams_DragDrop_PanelID").modal('show');
            }//openDragDropEditForm
            , sortByKey: function (array, key) {
                return array.sort(function(a, b) {
                    var x = a[key]; var y = b[key];
                    return ((x < y) ? -1 : ((x > y) ? 1 : 0));
                });
            }//sortByKey
            , DragDrop_Save: function () {
                // 1.3 Http 網路請求 [下]
                this.$http.post( // Request 網路 Server 請求
                    '@Url.Content("~/SystemManage/RcsSysParams_DragDropEdit_Save")'
                    , {
                        // SQL 資料庫名稱 [GetTableName.RCS_SYS_PARAMS]
                        input_RcsSysParams_List: this.paramTable_DataList
                    }
                ).then(function (ResponseSuccess) { // http 網路 Server 回傳成功
                    // 1.Http 接收資料-全部所有
                    if (ResponseSuccess.body.message == "儲存成功") {
                        showAlert(ResponseSuccess.body.message, msg_stat.Success, 3000);
                    } else {
                        showAlert('程式發生錯誤，請洽資訊人員!' + ResponseSuccess.body.message, msg_stat.Danger, 3000);
                    }
                    $("#RcsSysParams_DragDrop_PanelID").modal('hide');
                },
                function (ResponseError) { // 1.3.3 Response 網路回傳失敗
                    showAlert('程式發生錯誤，請洽資訊人員!' + ResponseError, msg_stat.Danger, 3000);
                    $("#RcsSysParams_DragDrop_PanelID").modal('hide');
                    });
                // 2.取得拖曳Tabel頁面，放入主頁面Tabel資料
                $('#param_table').bootstrapTable("destroy");
                $("#param_table").bootstrapTable($.extend(true, {}, bootstrap_table_option, {
                    url: "@Url.Content("~/SystemManage/ParamData")",
                    toolbar: "#param_toolbar",
                    showRefresh: false,
                    queryParams: function (para) {
                        var data = $("#param_selector").val().split("|");
                        return { p_model: data[0], p_group: data[1] };
                    },
                    height: 750,
                    onClickRow: function (row, $element, field) {
                        var tg = $("#btn_disable");
                        tg.prop("disabled", false);
                        if (row.p_status == "1") {
                            $("#btn_disable").removeClass("btn-success").addClass("btn-danger").html("停用");
                        } else {
                            $("#btn_disable").removeClass("btn-danger").addClass("btn-success").html("啟用");
                        }
                    },
                    rowStyle: function (row, index) {
                        if (row.p_status == "9") {
                            return { classes: 'danger' };
                        } else {
                            return { classes: 'default' };
                        }
                    }
                }));
            }//DragDrop_Save
        }//3.methods
    })//newVue
</script>